################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Singleton-Assignment/bin/Debug
/Singleton-Assignment/obj/Debug
/.vs/Assignments/v17
/.vs/Assignments/FileContentIndex
