################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Singleton-Assignment/bin/Debug
/Singleton-Assignment/obj/Debug
/packages
